<div class='container'>
    <div class='dashboardHeader'>
        <h2 class='dashboardLogo'>FurFoodz</h2>
        <input class='searchBar' id='searchBar' placeholder="Search">

        <div class="dropdown">
            <button class="createPageBtn">Create</button>
        </div>
    </div>
</div>