<div class='container'>
    <div class='dashboardHeader'>
        <h2 class='dashboardLogo'><a href='/dashboard'>FurFoodz</a></h2>
        <input class='searchBar' id='searchBar' placeholder="Search">

        <div class="dropdown">
            <button id='createPageBtn' class="createPageBtn"><a href='/create'>Create</a></button>
            <button id='logOutBtn' class="createPageBtn">Log Out</button>
        </div>
    </div>
</div>