<div class='container'>
    <footer class='footer'>
        <h3 class='footerLogo'>FurFoodz</h3>

        <div class='footerContact'>
            <p>Email: Email@placeholder.com</p>
            <p>Phone: 123-456-7890</p>
            <p>Address: 123 Random Rd.</p>
        </div>
    </footer>
</div>