{{> header}}

<div class='container'>
    <div class='createRecipeDiv'>
        <div class='inputDiv'>
            <p class='recipeTitleP'>Enter a recipe title</p>
            <input id='titleInput' class='titleInput' placeholder='Title'>

            <p class='recipeDescriptionP'>Enter a recipe description</p>
            <input id='descriptionInput' class='descriptionInput' placeholder='Description'>

            <p class='instructionsP' id='instructionsText'>Enter the recipe instructions</p>
            <input id='instructionsInput' class='instructionsInput' placeholder='Instructions'>
        </div>
        <div class='addIngredientsDiv'>
            <p class='ingredientsListP'>List the ingredients</p>
            <button onclick="showFilterMenu()" class="addIngredientsBtn">Ingredients</button>
        </div>
        <div class='createBtnDiv'>
            <button id='createBtn' class='createBtn'>Create</button>
        </div>
    </div>
</div>