{{> header}}

<div class='detailsContainer'>
    <h1 id='recipeDetailsTitle' class='recipeDetailsTitle'>Recipe Example Title</h1>

    <p id='recipeDetailsDescription' class='recipeDetailsDescription'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit quisquam natus earum odio saepe distinctio voluptatibus ea sed explicabo nihil consequatur, nesciunt dolores ducimus? Non itaque earum molestias distinctio eum!</p>

    <ul id='recipeDetailsIl' class='recipeDetailsIl'>
        <li>Ingredient 1</li>
        <li>Ingredient 2</li>
        <li>Ingredient 3</li>
        <li>Ingredient 4</li>
        <li>Ingredient 5</li>
        <li>Ingredient 7</li>
        <li>Ingredient 8</li>
        <li>Ingredient 9</li>
        <li>Ingredient 10</li>
        <li>Ingredient 11</li>
    </ul>

    <p id='recipeDetailsInstructions' class='recipeDetailsInstructions'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quos nisi? Voluptas, vero sint voluptatibus quo quidem, maxime dicta aliquam odio dolor porro provident. 
        In voluptatem fugit officiis deleniti earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quos nisi? Voluptas, vero sint voluptatibus quo quidem, maxime dicta aliquam odio dolor porro provident. 
        In voluptatem fugit officiis deleniti earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quos nisi? Voluptas, vero sint voluptatibus quo quidem, maxime dicta aliquam odio dolor porro provident. 
        In voluptatem fugit officiis deleniti earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quos nisi? Voluptas, vero sint voluptatibus quo quidem, maxime dicta aliquam odio dolor porro provident. 
        In voluptatem fugit officiis deleniti earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quos nisi? Voluptas, vero sint voluptatibus quo quidem, maxime dicta aliquam odio dolor porro provident. 
        In voluptatem fugit officiis deleniti earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quos nisi? Voluptas, vero sint voluptatibus quo quidem, maxime dicta aliquam odio dolor porro provident. 
        In voluptatem fugit officiis deleniti earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quos nisi? Voluptas, vero sint voluptatibus quo quidem, maxime dicta aliquam odio dolor porro provident. 
        In voluptatem fugit officiis deleniti earum?
    </p>
</div>