{{> header}}

<body>
    <div class='login'>
        <div class='inputDiv'>
            <input id='unInput' placeholder='Username'>
            <input id='pwInput' placeholder='Password'>
        </div>
        <div class='loginBtnDiv'>
            <button id='loginBtn' class='loginBtn'>Login</button>
        </div>
        <div class='sendToSignUpDiv'>
            <p>Don't have an account? <a id='signUpAnchor' class='signUpAnchor'>Sign up here.</a></p>
        </div>
    </div>
</body>