{{> header}}

<body>
	<div class='login'>
        <div class='inputDiv'>
            <p class='unInputP'>Please enter an Username</p>
            <input id='unSignUpInput' placeholder='Username'>

            <p class='passInputP'>Please enter a password</p>
            <input id='pwSignUpInput' placeholder='Password'>

            <p class='passConfirmP'>Confirm your password</p>
            <input id='pwSignUpConfirm' placeholder="Password">
        </div>
        <div class='signUpBtnDiv'>
            <button id='signUpBtn' class='signUpBtn'>Sign Up</button>
        </div>
    </div>
</body>